<div id="contenedor" style="background-image: url(../assets/img/azul.jpg);">
    <!--<a href="#"><img id="logo" src="img/logo.png" alt="logotipo"></a>-->
    <section id="registro">
        <div class="text-center">
            <i class="fas fa-user-edit icono-alumno"></i>
        </div>
        <h1 class="mt-3">Regístra tu Empresa</h1>

        <form [formGroup]="formularioEstudiante" (ngSubmit)="registrar()">
            <div class="mb-2">
                <input [ngClass]="{'form-input-error':name.invalid && (name.dirty || name.touched)}" type="text" formControlName="name" placeholder="Nombre de tu empresa">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-error">
                    <span *ngIf="name.errors.required">Campo obligatorio</span>
                </div>
            </div>

            <div class="mb-2">
                <input [ngClass]="{'form-input-error':email.invalid && (email.dirty || email.touched)}" type="text" formControlName="email" placeholder="Correo electronico">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-error">
                    <span *ngIf="email.errors.required">Campo obligatorio</span>
                    <span *ngIf="email.errors.pattern">Ingrese un correo institucional UNAH válido</span>
                </div>
                <div *ngIf="emailDuplicado" class="form-error">
                    <span>Error: Email ya registrado</span>
                </div>
            </div>
            <div class="mb-2">
                <input [ngClass]="{'form-input-error':direction.invalid && (direction.dirty || direction.touched)}" type="text" formControlName="direction" placeholder="Direccion">
                <div *ngIf="direction.invalid && (direction.dirty || direction.touched)" class="form-error">
                    <span *ngIf="direction.errors.required">Campo obligatorio</span>
                </div>
            </div>
            <div class="mb-2">
                <input [ngClass]="{'form-input-error':password.invalid && (password.dirty || password.touched)}" type="password" #inputPassword formControlName="password" placeholder="Contraseña">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error">
                    <span *ngIf="password.errors.required">Campo obligatorio</span>
                    <span *ngIf="password.errors.minlength">La contraseña debe ser mínimo de 8 caracteres</span>
                </div>
            </div>
            <div class="mb-2">
                <input [ngClass]="{'form-input-error':samePassword.invalid && (samePassword.dirty || samePassword.touched)}" type="password" #confirmPassword formControlName="samePassword" placeholder="Confirmar Contraseña">
                <div *ngIf="samePassword.invalid && (samePassword.dirty || samePassword.touched)" class="form-error">
                    <span *ngIf="samePassword.errors.required">Campo obligatorio</span>
                </div>
                <div *ngIf="!passwordEqual" class="form-error">
                    <span>Error: Contraseñas no coinciden</span>
                </div>
                <div class="pt-2 pl-2"><input type="checkbox" class="mr-2" (click)="mostrarPasswords(inputPassword, confirmPassword)"><b>Mostrar contraseña</b></div>
            </div>
            <!-- Boton registrar -->
            <button type=submit [disabled]="formularioEstudiante.invalid" value="Registrar">Registrarme</button>

        </form>

        <div class="mt-2"><a class="primary-link" href="/home">Regresar a Inicio<i
            class="fas fa-arrow-circle-left ml-1"></i></a></div>
    </section>
</div>