body {
  background-color: #E5E4EF;

}

.nav-principal {
  background-color: #191140;
  margin-bottom: 52px;
}

.nav-logo {
  width: 100px;
}

.colortextoperfil{
 color: #ffffff;
}

.colortexto{
  color: white !important;
  font-size: 18px;
}

.colortexto:hover{
  color: #1C928A  !important;
  font-size: 18px;
}

.btn_regresar{
  margin-left: 701px;
  padding-top: -24px;
  margin-top: -1px !important;
}

.container {
  background-color: #ffffff !important;
  padding: 20px 20px !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.textoNavPerfil {
  padding: 0px 15px;
  font-size: 20px;
}


.primerGrupo {

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.imGUsuario {
  border-radius: 5px;
  width: 310px;
  max-height: 284px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.datosGenerales {
  margin-top: -15px;
}

@media only screen and (max-width: 1000px) {

  /*.imGUsuario {
    border-radius: 50%;
    width: 50%;
    height: 50%;
  }*/


}

.inputFile {
  margin-left: 2%;
  margin-top: 15px;
  background-color: #40a0c5;
  padding: 10px;
  border-radius: 10px;
}


.custom-file,
.input-group-append {
  margin-top: 15px !important;
}

.User {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 50px !important;
  font-weight: bold !important;
}

.titGen {
  font-size: 30px !important;
  font-weight: bold !important;
}

.col-form-label {
  font-size: 20px !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}

.form-control:hover, .form-control:focus {
  border: 2px solid #40a0c5;
}

.btnLenguaje {
  padding: 10px !important;
  background-color: #1C928A !important;
  border-color: #1C928A !important;
  font-size: 20px !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  color: cornsilk;
  border-radius: 10px;
}

.btnLenguaje:hover {
  padding: 10px !important;
  background-color: #25c2b7 !important;
  border-color: #25c2b7 !important;
  box-shadow: 0px 0px 5px inset#ffffff;
  font-size: 20px !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  border-radius: 10px;

}

.listaLenguas {
  margin-top: 10px;
  width: 100% !important;
}


.seleLengua {
  padding: 8px;
  border-radius: 5px;
}

.seleLengua:hover, .seleLengua:focus {
  outline: 0px;
  border: 2px solid #40a0c5;
}

/* css para input file*/

html {
  font-family: sans-serif;
}

.custom-file__input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.custom-file__label {
  position: relative;
  display: block;
  width: 400px;
  max-width: 90%;
  min-width: 335px;
  min-height: 45px;
  margin: 10px 0;
  padding: 1;
  background: #00909b;
  border-radius: 5px;
  color: #fffdfd;
  line-height: 45px;
  text-align: center;
  text-transform: none;
  cursor: pointer;
  transition: all 0.3s;
}
.custom-file__label:hover {
  background: #00b2be;
}

.custom-file__input:valid~.custom-file__label {
  border-color: #39B54A;
  background: #39B54A;
  color: #39B54A;
}

.custom-file__input:valid~.custom-file__label:before {
  content: '\f00c';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
  font-family: 'FontAwesome';
  line-height: 45px;
}


/*fin de css para input file*/
