.nav-logo {
    width: 100px;
}

.nav-principal {
    background-color: #191140;
}

.nav-principal .custom-toggler {
    padding: 4px 8px;
    border-color: #4c33c7;
}

.nav-principal .navbar-toggler:focus {
    box-shadow: 0px 0px 5px inset #4c33c7;
}

.btn-cerrar {
    color: white;
    background-color: #078bbe;
    padding: 4px 30px;
}

.btn-cerrar:hover {
    color: #2d64da;
    background-color: white;
    font-weight: bolder;
}

.card {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 90%;
    margin: 2em auto;
    padding: 25px 100px;
    border-radius: 0.3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .card {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 575.98px) {
    .card {
        padding: 25px 10px;
    }
}

.imagen-empresa {
    /*display: block;
    margin-left: 130px;
    margin-top: 15px;*/
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
    font-size: 1em;
    padding: 1em 0.5em;
    font-weight: 300;
}

.label-form {
    font-size: 1.1rem;
}

.description h1 {
    font-size: 1.7em;
    font-family: "Roboto", sans-serif;
    padding-bottom: 0.4em;
}

.description .location {
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1em;
    margin: 0px 16px 4px 0px;
}

.empresa {
    color: rgba(21, 7, 218, 0.678);
    display: inline-block;
    font-size: 1em;
    margin: 2px 16px 4px 0px;
    font-weight: 900;
}

.description>p {
    font-size: 1em;
    margin-bottom: 0.6em;
    line-height: 1.3;
}

.description>button {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    padding-inline: 0.9em;
    padding-block: 0.6em;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    margin-top: 1em;
}

.description>button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.boton-guardar {
    color: #FFF !important;
    background-color: #00909B !important;
    border-color: #00909B !important;
    font-size: 1.2rem !important;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 10px;
    /*margin-left: 118px;*/
}

.boton-guardar:hover {
    color: #FFF !important;
    background-color: #067caa !important;
    border-color: #078bbe !important;
    box-shadow: 0px 0px 5px inset#ffffff;
}

.link-profile:hover {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}


/* css para input file*/

html {
    font-family: sans-serif;
}

.custom-file__input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.custom-file__label {
    position: relative;
    display: block;
    width: 100%;
    min-width: 335px;
    min-height: 45px;
    margin: 10px 0;
    padding: 1;
    background: #00909b;
    border-radius: 5px;
    color: #fffdfd;
    line-height: 45px;
    text-align: center;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s;
}

.custom-file__input:valid~.custom-file__label {
    border-color: #39B54A;
    background: #39B54A;
    color: #39B54A;
}

.custom-file__input:valid~.custom-file__label:before {
    content: '\f00c';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #ffffff;
    font-family: 'FontAwesome';
    line-height: 45px;
}


/*fin de css para input file*/