<body style="background: #483d8b24;">


    <nav class="navbar navbar-expand-lg nav-principal py-2">
        <a class="navbar-brand ml-0 ml-lg-3" style=" color:white !important;" [routerLink]="['/home']">
            <img class="nav-logo" src="../../../assets/img/logo/Logo180X100.png" alt=""> Empléate UNAH
        </a>
        <button class="navbar-toggler custom-toggler mr-3 mr-lg-0" type="button" data-toggle="collapse" data-target="#navbarTogglerCompanyProfile" aria-controls="navbarTogglerCompanyProfile" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarTogglerCompanyProfile">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item my-2 my-lg-0">
                    <a class="nav-link mx-2 ml-lg-3" style=" color:white !important;" href="company/profile">
                        <span class="link-profile">
            <span class="fa fa-home mr-2"></span>Volver a Perfil
                        </span>
                    </a>
                </li>
            </ul>
            <div class="ml-3 ml-lg-auto">
                <button type="button" class="btn btn-cerrar mr-5" (click)="getAuthService().logoutCompany()">Cerrar Sesión<i
          class="fas fa-sign-out-alt ml-2"></i></button>
            </div>
        </div>
    </nav>

    <ng-container *ngIf="getAuthService().loggedInCompany() && empresa != null">
        <div class="cards">
            <div class="card">
                <!--
            <div class="card-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="text-center">
                                <img *ngIf="empresa.imagenPerfil == null" class="imagen-empresa" src="../../../assets/img/empresa1.jpg" alt="green forest">
                                <img *ngIf="empresa.imagenPerfil != null" class="imagen-empresa" [src]="backendHost + empresa.imagenPerfil" alt="green forest">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">

                             REEMPLAZADO POR EL DE ABAJO
                            <div class="text-center text-lg-left">
                                <button type="button" class="btn btn-primary my-4" (click)="habilitarImagen()">Editar</button>
                                <form [formGroup]="formularioUploadImage">
                                    <input [ngClass]="{'visible':imagenPerfilHabilitada == true, 'no-visible': imagenPerfilHabilitada == false}" formControlName="imagenPerfil" class="form-control" type="file" (change)="selectProfileImage($event)">
                                    <button [ngClass]="{'visible': hayImagenPerfil == true, 'no-visible': hayImagenPerfil == false}" type="button" class="btn btn-red my-4" (click)="cancelProfileImage()">Cancelar</button>
                                </form>
                            </div>
                        </div>
                         BOTON A UTILIZAR
                        <div class="custom-file">
                            <input type="file" class="custom-file__input" id="field-upload" name="upload" required>
                            <label class="custom-file__label" for="field-upload">Editar Foto</label>
                        </div>
                    </div>
                </div>
            </div> -->


                <div class="description">
                    <form [formGroup]="formulario_Edit">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="text-center">
                                    <img *ngIf="empresa.imagenPerfil == null" class="imagen-empresa" src="../../../assets/img/empresa1.jpg" alt="green forest">
                                    <img *ngIf="empresa.imagenPerfil != null" class="imagen-empresa" [src]="backendHost + empresa.imagenPerfil" alt="green forest">
                                </div>
                            </div>
                            <br>

                            <div class="col-12 col-lg-6">
                                <div class="custom-file">
                                    <input type="file" class="custom-file__input" id="field-upload" name="upload" required>
                                    <label class="custom-file__label" for="field-upload">Editar Foto</label>
                                </div>
                                <br>
                                <br>
                                <label class="label-form text-black pb-1">Nombre organización</label>
                                <br>
                                <input [ngClass]="{'form-input-error':organizacion.invalid && (organizacion.dirty || organizacion.touched)}" formControlName="organizacion" type="text" placeholder="Organización" class="form-control mb-2">
                                <div *ngIf="organizacion.invalid && (organizacion.dirty || organizacion.touched)" class="form-error">
                                    <span *ngIf="organizacion.errors.required">Campo obligatorio</span>
                                </div>
                                <br>
                                <label class="label-form text-black pb-1">Teléfono</label>
                                <br>
                                <input [ngClass]="{'form-input-error':telefono.invalid && (telefono.dirty || telefono.touched)}" formControlName="telefono" type="text" placeholder="Ingrese un teléfono" class="form-control mb-2">
                                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="form-error">
                                    <span *ngIf="telefono.errors.required">Campo obligatorio</span>
                                    <span *ngIf="telefono.errors.pattern">Ingrese un Telefono valido, Ejemplo: 1234-5678</span>
                                </div>
                                <br>
                                <label class="label-form text-black pb-1">Departamento</label>
                                <br>
                                <select [ngClass]="{'form-input-error':departamento.invalid && (departamento.dirty || departamento.touched)}" formControlName="departamento" class="form-control mb-2">
                                <option *ngFor="let department of departamentos" value="{{department}}">{{department}}</option>
                            </select>
                                <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="form-error">
                                    <span *ngIf="departamento.errors.required">Campo obligatorio</span>
                                </div>
                            </div>
                        </div>

                        <br>
                        <label class="label-form text-black pb-1">Ciudad</label>
                        <br>
                        <input [ngClass]="{'form-input-error':ciudad.invalid && (ciudad.dirty || ciudad.touched)}" formControlName="ciudad" type="text" placeholder="Ciudad" class="form-control mb-2">
                        <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="form-error">
                            <span *ngIf="ciudad.errors.required">Campo obligatorio</span>
                        </div> <br>
                        <label class="label-form text-black pb-1">Dirección de la empresa</label>
                        <br>
                        <input [ngClass]="{'form-input-error':direccion.invalid && (direccion.dirty || direccion.touched)}" formControlName="direccion" type="text" placeholder="Ingrese la dirección" class="form-control mb-2">
                        <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="form-error">
                            <span *ngIf="direccion.errors.required">Campo obligatorio</span>
                        </div>
                        <br>
                        <label class="label-form text-black pb-1">Descripción</label>
                        <br>
                        <textarea [ngClass]="{'form-input-error':descripcionPerfil.invalid && (descripcionPerfil.dirty || descripcionPerfil.touched)}" formControlName="descripcionPerfil" placeholder="Descripcion de la empresa" class="form-control mb-1" name="descripcion" id="describir"
                            cols="75" rows="10"></textarea>
                        <div *ngIf="descripcionPerfil.invalid && (descripcionPerfil.dirty || descripcionPerfil.touched)" class="form-error">
                            <span *ngIf="descripcionPerfil.errors.required">Campo obligatorio</span>
                        </div>
                        <br>
                        <label class="label-form text-black pb-1">Página de facebook</label>
                        <br>
                        <input formControlName="facebook" type="text" placeholder="Ingrese su página de facebook" min="1" class="form-control mb-2">
                        <br>
                        <label class="label-form text-black pb-1">Sitio web</label>
                        <br>
                        <input formControlName="paginaWeb" type="text" placeholder="Ingrese su sitio web" class="form-control mb-2">
                        <br>
                        <div class="text-center">
                            <button type="button" [disabled]="formulario_Edit.invalid" (click)="sendForm()" class="btn boton-guardar">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-container>
</body>