<div id="contenedor-login">
  <!--<a href="#"><img id="logo" src="../../../../assets/img/logo.png" alt="logotipo"></a>-->
  <section id="login" class="my-4">
    <div class="text-center">
      <i class="far fa-building fa-5x mt-3"></i>
    </div>

    <h1 class="mb-4 mt-3">Inicio de Sesión</h1>
    <form [formGroup]="formularioLoginCompany">
      <div class="mb-4">
        <input [ngClass]="{'form-input-error':email.invalid && (email.dirty || email.touched) || !emailValido}"
          formControlName="email" type="text" placeholder="correo electronico" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-error">
          <span *ngIf="email.errors.required">Por favor, ingrese su correo</span>
          <span *ngIf="email.errors.pattern">Ingrese un correo válido</span>
        </div>
        <div *ngIf="!emailValido" class="form-error">
          <span>Error: Correo no encontrado</span>
        </div>
      </div>
      <div class="mb-4">
        <input
          [ngClass]="{'form-input-error':password.invalid && (password.dirty || password.touched) || !passwordValido}"
          formControlName="password" #inputPassword type="password" placeholder="contraseña">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error">
          <span *ngIf="password.errors.required">Por favor, ingrese una contraseña</span>
          <span *ngIf="password.errors.minlength">La contraseña debe ser mínimo de 8 caracteres</span>
        </div>
        <div *ngIf="!passwordValido" class="form-error">
          <span>Error: Contraseña incorrecta</span>
        </div>
        <div class="pt-2 pl-2"><input type="checkbox" class="mr-2" (click)="cambiarInput(inputPassword)"><b>Mostrar
            contraseña</b></div>
      </div>
    </form>

    <!-- Boton iniciar sesion -->
    <button class="mb-4" type=button [disabled]="!formularioLoginCompany.valid" (click)="login()"
      value="Iniciar">Iniciar</button>
    <!---->
    <!--<div class="mb-3">
        <label class="texto-pequenio">o inicia con: </label>
        <div class="social-login texto-derecha">
          <div>
            <a href="#"><img style="margin:5px" src="../../../../assets/img/facebook.png" width="30" height="30"
                alt="Facebook"></a>
            <a href="#"><img style="margin:5px" src="../../../../assets/img/linkedin.png" width="30" height="30"
                alt="Linkedin"></a>
            <a href="#"><img style="margin:5px" src="../../../../assets/img/google-logo.png" width="30" height="30"
                alt="Google"></a>
          </div>
        </div>
      </div>-->
    <div><a class="primary-link" [routerLink]="['/home']">Regresar a Inicio<i
          class="fas fa-arrow-circle-left ml-1"></i></a></div>
  </section>
</div>
