<div id="contenedor" style="background-image: url(../assets/img/unahR2.jpg);">
  <!--<a href="#"><img id="logo" src="img/logo.png" alt="logotipo"></a>-->
  <section id="registro">
    <div class="text-center">
      <i class="fas fa-user-graduate icono-alumno"></i>
    </div>
    <h1>Regístrate</h1>
    <form [formGroup]="formularioEstudiante">
      <input type="text" formControlName="name" placeholder="Nombre"><br>
      <input type="text" formControlName="lastName" placeholder="Apellido"><br>
      <input type="text" formControlName="email" placeholder="Correo Institucional UNAH"><br>
      <input type="password" formControlName="password" placeholder="Contraseña"><br>
      <input type="password" formControlName="samepassword" placeholder="Confirmar Contraseña"><br>
    </form>

    <!-- Boton registrar -->
    <button type=button (click)="registrar()" value="Enviar">Registrarme</button>
    <!---->
    <label class="texto-pequenio">o con: </label>
    <div class="social-login texto-derecha">
      <div>
        <a href="#"><img style="margin:5px" src="../../../../assets/img/facebook.png" width="30" height="30"
            alt="Facebook"></a>
        <a href="#"><img style="margin:5px" src="../../../../assets/img/linkedin.png" width="30" height="30"
            alt="Linkedin"></a>
        <a href="#"><img style="margin:5px" src="../../../../assets/img/google-logo.png" width="30" height="30"
            alt="Google"></a>
      </div>
    </div>
    <div class="mt-2"><a class="primary-link" href="/home">Regresar a Inicio<i class="fas fa-arrow-circle-left ml-1"></i></a></div>
  </section>
</div>
