.nav-logo {
  width: 100px;
}

.resume-profile-image {
  width: 500px;
  max-width: 100%;
  height: auto;
  max-height: 800px;
}

.nav-principal {
  background-color: #191140;
}

.nav-principal .custom-toggler {
  padding: 4px 8px;
  border-color: #4c33c7;
}

.nav-principal .navbar-toggler:focus {
  box-shadow: 0px 0px 5px inset #4c33c7;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 52, 224, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.link-profile:hover {
  color: #966FA6;
  font-weight: bold;
  font-size: 18px;
}

.btn-cerrar {
  color: white;
  background-color: #966FA6;
  padding: 4px 30px;
}

.btn-cerrar:hover {
  color: #966FA6;
  background-color: white;
  font-weight: bolder;
}
