<body class="body">
  <div *ngIf="getAuthService().loggedInStudent() && estudiante != null">
    <nav class="navbar navbar-expand-lg nav-principal py-2">
      <a class="navbar-brand ml-0 ml-lg-3" style=" color:white !important;" href="/home">
        <img class="nav-logo" src="../../../assets/img/logo/Logo180X100.png" alt=""> Empléate UNAH
      </a>
      <button class="navbar-toggler custom-toggler mr-3 mr-lg-0" type="button" data-toggle="collapse"
        data-target="#navbarTogglerStudentProfile" aria-controls="navbarTogglerStudentProfile" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarTogglerStudentProfile">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item my-2 my-lg-0">
            <a class="nav-link mx-2 ml-lg-3" style=" color:white !important;" href="student/home">
              <span class="link-profile">
                <span class="fas fa-home mr-2"></span>Home
              </span>
            </a>
          </li>
          <li class="nav-item my-2 my-lg-0">
            <a class="nav-link mx-2 ml-lg-3" style=" color:white !important;" href="student/profile/edit">
              <span class="link-profile">
                <span class="fas fa-user-edit mr-2"></span>Editar perfil
              </span>
            </a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0 ml-lg-auto">
          <button type="button" class="btn btn-cerrar mx-lg-5" (click)="getAuthService().logout()">Cerrar Sesión<i
              class="fas fa-sign-out-alt ml-2"></i></button>
        </form>
      </div>
    </nav>

    <div class="main-wrapper">
      <div class="container px-3 px-lg-5 animate__animated animate__fadeInRight">
        <article class="resume-wrapper color mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

          <div class="resume-header">
            <div class="row align-items-center">
              <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                <h2 class="resume-name mb-0 text-uppercase">{{estudiante.nombre}} {{estudiante.apellido}}</h2>
                <div class="resume-tagline mb-3 mb-md-0">{{estudiante.carreras}}</div>
              </div>
              <!--//resume-title-->
              <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i>{{estudiante.telefono}}</li>
                  <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i>{{estudiante.email}}</li>
                  <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>{{estudiante.centro}}</li>
                </ul>
              </div>
              <!--//resume-contact-->
            </div>
            <!--//row-->

          </div>
          <!--//resume-header-->
          <hr>
          <div class="resume-intro py-3">
            <div class="media flex-column flex-md-row align-items-center">
              <img *ngIf="estudiante.imagenPerfil ==null"
                class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto tamaño"
                src="../../../assets/img/usuario.png" alt="image">
              <img *ngIf="estudiante.imagenPerfil != null"
                class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto tamaño"
                [src]="backendHost + estudiante.imagenPerfil" alt="image">
              <div class="media-body text-left">
                <p class="mb-0">{{estudiante.descripcionPerfil}}
                </p>
              </div>
              <!--//media-body-->
            </div>
          </div>
          <!--//resume-intro-->
          <hr>
          <div class="resume-body">
            <div class="row">
              <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                <section class="work-section py-3">
                  <h3 class="text-uppercase resume-section-heading mb-4">Datos de estudiante</h3>
                  <div class="item mb-3">
                    <div class="item-heading row align-items-center mb-2">
                      <h5 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Fecha Nacimiento</h5>
                      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                        {{estudiante.fechaNacimiento}}</div>

                    </div>
                    <div class="item-content">
                      <div class="item-heading row align-items-center mb-2">
                        <h5 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Indice</h5>
                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                          {{estudiante.indice}}</div>
                      </div>
                      <div class="item-heading row align-items-center mb-2">
                        <h5 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Clases aprobadas</h5>
                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                          {{estudiante.clasesAprobadas}}</div>
                      </div>
                    </div>
                  </div>
                  <!--//item-->

                </section>
                <!--//work-section-->
              </div>
              <!--//resume-main-->
              <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                <!--<section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Habilidades</h3>
            </section>
            //skills-section-->
                <section class="skills-section py-3">
                  <h3 class="text-uppercase resume-section-heading mb-4">Idiomas</h3>
                  <ul class="list-unstyled resume-lang-list">
                    <li *ngFor="let idioma of estudiante.Lenguajes" class="mb-2">{{idioma}}</li>
                  </ul>
                </section>
                <!--//certificates-section-->
                <section class="skills-section py-3">
                  <h3 class="text-uppercase resume-section-heading mb-4">Intereses</h3>
                  <ul class="list-unstyled resume-interests-list mb-0">
                    <li class="mb-2">{{estudiante.intereses}}</li>
                  </ul>
                </section>
                <!--//certificates-section-->

              </aside>
              <!--//resume-aside-->
            </div>
            <!--//row-->
          </div>
          <!--//resume-body-->
          <hr>
        </article>

      </div>
      <!--//container-->

      <footer class="footer text-center py-4">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright text-muted">Empléate UNAH <i class="fas fa-heart"></i> <a class="theme-link"
            href="http://themes.3rdwavemedia.com" target="_blank"></a>para estudiantes</small>
      </footer>

    </div>
  </div>
</body>
<!--//main-wrapper-->
