<div id="contenedor-login">
  <!--<a href="#"><img id="logo" src="../../../../assets/img/logo.png" alt="logotipo"></a>-->
  <section id="login" class="my-4 animate__animated animate__bounceIn">
    <div class="text-center">
      <a href="#"><img src="../assets/img/logo/Logo180X100.png" width="186" height="102" alt="b"></a>
    </div>
    <h1 class="mb-4 mt-3">Inicio de Sesión</h1>
    <form [formGroup]="formularioLogin" (ngSubmit)="login()">
      <div class="mb-4">
        <input [ngClass]="{'form-input-error':email.invalid && (email.dirty || email.touched) || !emailValido}"
          formControlName="email" type="text" placeholder="correo electronico" required (keydown)="emailValido = true;">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-error">
          <span *ngIf="email.errors.required">Por favor, ingrese su correo</span>
          <span *ngIf="email.errors.pattern">Ingrese un correo institucional UNAH válido</span>
        </div>
        <div *ngIf="!emailValido" class="form-error">
          <span>Error: Correo no encontrado</span>
        </div>
      </div>
      <div class="mb-4">
        <div class="inputPassword-container">
          <input
            [ngClass]="{'form-input-error':password.invalid && (password.dirty || password.touched) || !passwordValido}"
            formControlName="password" #inputPassword type="password" placeholder="contraseña"
            (keydown)="passwordValido = true;">
          <i class="fas fa-eye-slash" (click)="cambiarInput(inputPassword)"
            *ngIf="inputPassword.type === 'password'"></i>
          <i class="fas fa-eye" (click)="cambiarInput(inputPassword)" *ngIf="inputPassword.type === 'text'"></i>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error">
          <span *ngIf="password.errors.required">Por favor, ingrese una contraseña</span>
          <span *ngIf="password.errors.minlength">La contraseña debe ser mínimo de 8 caracteres</span>
        </div>
        <div *ngIf="!passwordValido" class="form-error">
          <span>Error: Contraseña incorrecta</span>
        </div>
      </div>
      <!-- Boton iniciar sesion -->
      <button class="mb-4" type="submit" [disabled]="!formularioLogin.valid">Iniciar</button>
    </form>
    <!---->
    <!--<div class="mb-3">
        <label class="texto-pequenio">o inicia con: </label>
        <div class="social-login texto-derecha">
          <div>
            <a href="#"><img style="margin:5px" src="../../../../assets/img/facebook.png" width="30" height="30"
                alt="Facebook"></a>
            <a href="#"><img style="margin:5px" src="../../../../assets/img/linkedin.png" width="30" height="30"
                alt="Linkedin"></a>
            <a href="#"><img style="margin:5px" src="../../../../assets/img/google-logo.png" width="30" height="30"
                alt="Google"></a>
          </div>
        </div>
      </div>-->
    <div>
      <a class="primary-link" style="font-size: 17px;" [routerLink]="['/home']">
        Regresar a Inicio<i class="fas fa-arrow-circle-left ml-1"></i>
      </a>
    </div>
  </section>
</div>
