<nav class="navbar navbar-expand-lg navbar-light nav-principal">
  <!-- Image and text -->
  <a class="navbar-brand" href="#" style=" color: white !important;">
    <img src="./assets/img/logo.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
    Empléate UNAH
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style=" color: white !important;" class="nav-link" href="#">Acerca de nosotros<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a  style=" color: white !important;"class="nav-link" href="#">¿Cómo funciona?</a>
        </li>
    
      </ul>
    </div>
   
    <div class="btn-group dropleft ">
      <button type="button" class="btn boton-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Regístrate
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" [routerLink]= "['register/student']">Estudiantes</a>
        <a class="dropdown-item" [routerLink]= "['register/student']">Empresas</a>
      </div>
    </div>
    
      <a  style=" color: white !important;"class="nav-link" [routerLink]= "['login']" >Ingresar</a>
  </nav>

<div class="card bg-dark">
    <img src="./assets/fondo.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>

