* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-cerrar {
  color: white;
  background-color: #007bff;
  padding: 4px 30px;
}

.btn-detalle {
  color: #000000;
  padding: 2px;
  background-color: white;
  border-color: white;
}

.titulo-modal {
  color: white;
  background-color: #191140;
}

.btn-detalle:hover {
  color: white;
  background-color: #191140;
  border-color: white;
}

.btn-cerrar:hover {
  color: #00A6F7;
  background-color: white;
  font-weight: bolder;
}

.vh-100 {
  height: 100vh;
}

.main {
  /*funciona en cada despliegue de pestana */
  color: #E5E4EF !important;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}

body {
  /*funciona cuando no hay contenido y asi no aparesca cortada la imagen */
  font-family: 'Open sans';
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}

#mn {
  height: 50px;
  width: 50px;
  display: none
}

#mn #btn-mn {
  display: none;
}

#mn img {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

#principal {
  width: 90%;
  height: auto;
  overflow: hidden;
  border: 1px solid;
  margin: 10px auto;
}

#publicaciones {
  width: 70%;
  height: auto;
  overflow: hidden;
  border: 1px solid #fff;
  margin-top: 10px;
  background: #00A6F7;
  justify-content: center;
}

.post {
  width: 95%;
  height: auto;
  overflow: hidden;
  padding: 7px;
  background: #fdfdfd;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #0205c0;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #ccc;
  margin-bottom: 20px;
  margin-left: 15px;
}

.titulo-vacante {
  width: 95%;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 15px;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'calibri light';
}

.saludo {
  width: 70%;
  height: auto;
  overflow: hidden;
  /**background: #191140;**/
  color: #fff;
  font-family: 'calibri light';
  text-align: center;
  margin-top: 15px;
}

.enlace-post {
  text-decoration: none;
}

#publicaciones a .titulo-post {
  color: #6e6e6e;
  font-size: 22px;
  font-family: 'calibri light';
}

#publicaciones a .titulo-post:hover {
  text-decoration: underline;
}

#publicaciones .img-post {
  width: 150px;
  height: 100px;
  float: left;
  margin: 7px 7px 7px 0px;
  padding: 5px;
  border: 1px solid rgb(151, 205, 255);
  border-radius: 5px;
}

#publicaciones .datos-publicaciones {
  font-family: 'calibri light';
  color: rgb(10, 122, 250);
}

#publicaciones .requisitos {
  font-family: 'calibri light';
  font-size: 16px;
  color: #616060;
  /**padding: 0px 5px 5px 0px ;**/
}

#publicaciones .requisitos-items {
  font-family: 'calibri light';
  font-size: 13px;
  color: #848484;
  padding: 0px 5px 5px 5px;
}

#publicaciones .leer-mas {
  background: #0205c0;
  color: #fff;
  border: 0px;
  padding: 5px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}

#publicaciones .leer-mas:hover {
  background: #010274;
  color: #fff;
}

#publicaciones .aplicar {
  background: #00A6F7;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}

#publicaciones .aplicar:hover {
  background: #00A6F7;
  color: #fff;
}

.nav-logo {
  width: 100px;
}

.nav-principal {
  background-color: #191140;
}

.nav-principal .custom-toggler {
  padding: 4px 8px;
  border-color: #00A6F7;
}

.nav-principal .navbar-toggler:focus {
  box-shadow: 0px 0px 5px inset #00A6F7;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 52, 224, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.link-profile:hover {
  color: #00A6F7;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}


/**estilos del menu**/

#sidemenu {
  background: #191140;
  color: #fff;
  position: fixed;
  height: 100%;
  width: 300px;
  right: 0;
  top: 0;
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
  background: #00A6F7;
}

#sidemenu #heade {
  box-sizing: border-box;
  border-bottom: solid #fdfdfd;
}

#sidemenu #heade #title {
  box-sizing: border-box;
  height: 54px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  font-family: 'calibri light';
}

#sidemenu #heade #title,
#sidemenu #heade #menu-btn {
  vertical-align: middle;
}

#sidemenu #heade .btn-menu {
  display: block;
}

#sidemenu #heade #menu-btn:hover {
  background-color: aqua;
}

#sidemenu #heade #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #perfil {
  box-sizing: border-box;
  padding: 4px;
  text-align: center;
}

#sidemenu #perfil #foto {
  box-sizing: border-box;
  padding: 4px;
  margin: 0 auto;
}

#sidemenu #perfil #foto img {
  border-radius: 50%;
  height: 170px;
  width: 60%;
  padding: 5px;
  border: 2px solid #1e3ef5;
}

#sidemenu #perfil #foto,
#sidemenu #perfil #name {
  font-size: 26px;
  padding: 4px;
  overflow: hidden;
  font-family: 'calibri light';
}

#sidemenu #perfil #carrera {
  font-size: 18px;
  padding: 4px;
  overflow: hidden;
  font-family: 'calibri light';
}

#sidemenu #menu-items {
  overflow: hidden;
  margin-top: 40px;
}

#sidemenu #menu-items .item {
  width: 300px;
  display: inline-block;
  list-style: none;
  padding: 16px;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 400px;
}

#sidemenu #menu-items .item,
#sidemenu #menu-items .item .title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item a {
  display: block;
}

#sidemenu #menu-items .item .nom-item {
  background: #1495e0;
  display: block;
}

#sidemenu #menu-items .item a:hover {
  background-color: aqua;
}

#sidemenu .nom-item {
  box-sizing: border-box;
  background: #191140;
  width: 300px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  border-color: aqua;
  font-family: 'calibri light';
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #1e3ef5;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1e3ef5;
  border-bottom: solid #fdfdfd;
  height: 40px;
  margin-top: 2px;
}

#sidemenu .nom-item:hover {
  background: #00A6F7;
}

#sidemenu #salir {
  box-sizing: border-box;
  background: #00A6F7;
  width: 300px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  font-family: 'calibri light';
  margin-top: 15px;
}

#sidemenu #salir:hover {
  background: #2dc6f5;
}


/***************************************/

@media(max-width:1024px) {
  #sidemenu {
    right: -300px;
  }

  #mn {
    display: block;
    margin-right: 20px;
  }

  #mn #btn-menu:checked~#sidemenu {
    right: 0;
  }

  #publicaciones {
    justify-content: center;
  }

  .post {
    display: block;
    width: 90%;
    height: auto;
  }

  .titulo-vacante {
    display: block;
    width: 90%;
    height: auto;
  }
}


/*Estilizando la pagina HOME de estudiante*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  /*funciona cuando no hay contenido y asi no aparesca cortada la imagen */
  font-family: 'Open sans';
  background-image: url(../../../assets/img/lineas2.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}

.wrap {
  width: 800px;
  height: 100%;
  max-width: 90%;
  margin: 0px auto;
  padding: 30px 0px;
}

@media (max-width:575.98px) {
  .wrap {
    max-width: 100%;
  }
}


ul.tabs {
  width: 100%;
  background: #191140;
  list-style: none;
  display: flex;
}

ul.tabs li {
  width: 18%;
  cursor: pointer;
}

ul.tabs li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 20px 0px;
}

/*ul.tabs a:active {
  background: #00A6F7;
}

ul.tabs a:hover {
  background: #00A6F7 !important;
}*/

ul.tabs li a .tab-text {
  margin-left: 8px;
}

.secciones {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secciones div {
  padding: 10px 16px 10px 16px;
  color: black;
}

.secciones div p {
  text-align: justify;
}

@media screen and (max-width: 700px) {
  ul.tabs li {
    width: none;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  ul.tabs li a {
    padding: 15px 0px;
  }

  ul.tabs li a .tab-text {
    display: none;
  }

  .secciones div {
    padding: 20px;
  }
}

.nav-logo {
  width: 100px;
}

.nav-principal {
  background-color: #191140;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  font-weight: bold !important;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0px 0px 6px inset #191140;
}

.imgUSER {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 100px;
}

.card-body span {
  padding: 4px 4px;
}

.card-body span:hover {
  background-color: #7d7d809a;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #ccc;
  border: solid #FFF 1px;
  cursor: pointer;
  width: 100%;
}

.list-group-item:hover {
  color: #FFF;
  background-color: #7d7d809a;
  padding: 2px 2px;
  border-radius: 5px;
}

.btnsOfertas {
  font-size: 14px;
  padding: 5px 0px;
  border-bottom: #1E7064 solid 2px;
  cursor: pointer;
}

.btnsOfertas:hover {
  font-size: 13px;
  padding: 5px 0px;
  border-bottom: #7d7d809a solid 2px;
  font-weight: bold !important;
  color: #5A508C !important;
}

.btnsOfertas:hover .fa-info-circle,
.btnsOfertas:hover .fa-mail-bulk {
  color: #5A508C !important;
}


/*.card-body h5:hover {
  color: #191140 !important;
  font-size: 25px;
}*/


/*.card-body p:hover {
  font-size: 20px !important;
}*/


/********************************/


.modalDetalles {
  padding: 10px 10px;
  background-color: #00035a;
  color: #fff;
}

.cardDetalles {
  margin-left: 0% !important;
  color: black !important;
  padding: 20px 10px !important;
  width: 100% !important;
  background-color: rgb(255, 255, 255, 0.9);
}

.bodyDetalles {
  padding: 10px 10px !important;
}

.botonesDetalles div button {
  width: 90%;
  padding: 10px 10px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #00035a;
  color: #fff;
}

.botonesDetalles div button:hover {
  background-color: #00A6F7;
  color: #191140;
}


/* Buscador */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*Filtro select*/
.filtros {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
}

.filtros:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.parrafo-detalle {
  color: #5A508C;
}

.titulo-tabla {
  background-color: #140E33;
  color: white;
}

.contenido-tabla {
  background-color: #5A508C;
  color: white;
}

.titulo-descripcion {
  color: #140E33;
  font-weight: bold;
}

.tarjeta{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.tarjeta:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.tarjeta .img-tarjeta{
	width: 100%;
	height: 210px;
}
.tarjeta .contenido-tarjeta{
	padding: 15px;
	text-align: center;
}
.tarjeta .contenido-tarjeta .h3-tarjeta{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.tarjeta .contenido-tarjeta .p-tarjeta{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.tarjeta .contenido-tarjeta .a-tarjeta{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.tarjeta .contenido-tarjeta .a-tarjeta:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-tarjeta{
		flex-wrap: wrap;
	}
	.tarjeta{
		margin: 15px;
	}
}
/*Fin-Cards*/

.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }

  /*Paginacion de ofertas*/
.offers-pagination /deep/ .pagination-previous,
.offers-pagination /deep/ .pagination-previous:focus,
.offers-pagination /deep/ .pagination-next,
.offers-pagination /deep/ .pagination-next:focus {
  background-color: #fcffff;
  border: 1px solid #00A6F7;
  color: #00A6F7;
}

.offers-pagination /deep/ .pagination-previous.disabled,
.offers-pagination /deep/ .pagination-previous.disabled:focus,
.offers-pagination /deep/ .pagination-previous.disabled:hover,
.offers-pagination /deep/ .pagination-next.disabled,
.offers-pagination /deep/ .pagination-next.disabled:focus,
.offers-pagination /deep/ .pagination-next.disabled:hover {
  background-color: #fcffff;
  border: 1px solid #616161;
  color: #616161;
}

.offers-pagination /deep/ .ngx-pagination li {
  background-color: #fcffff;
  border: 1px solid #00A6F7;
  color: #00A6F7;
}

.offers-pagination /deep/ .ngx-pagination .current {
  background-color: #00A6F7;
  border: 1px solid #00A6F7;
  color: #fcffff;
}

/**/