<h4>Mi<small> Perfil </small></h4>
<hr>
<div class="container-fluid" >
    
    <div class="row form-group mt-3">
        <div class="col-lg-4 col-sm-12" >
           <div class="ml-5 mb-2">
                <img class="rounded-circle" src="../../../assets/img/usuario.png" alt="">
           </div>
           <div>
            <input style="margin-left: 20%" type="file" >
           </div>

        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="text-center text-lg-left">
                <h3 >{{estudianteActual.nombre}} {{estudianteActual.apellido}}  </h3>
                <h4>{{estudianteActual.email}}</h4>
                <h4>Centro: {{estudianteActual.centro}}</h4>
                <h4>Carrera: {{estudianteActual.carreras}}</h4>
            </div>
        </div>
    </div>


    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submitForm()" class="container">


        <div class="form-group mt-3 row" >
            <label class="col-2 col-form-label" >Descripcion del Perfil</label>
            <div class="col">
                <textarea class="form-control" type="text" value={{estudianteActual.carreras}} formControlName="profileDescription" rows="10">{{estudianteActual.descripcionPerfil}}</textarea> 
            </div>                    
        </div>

        <div class="form-group mt-3 row">
            <label class="col-2 col-form-label">telefono</label>
            <div class="col">
                <input class="form-control" type="text" value="movil" formControlName="phone">
            </div>
        </div>

        <div class="form-group mt-3 row">
            <label class="col-2 col-form-label">Intereses Personales</label>
            <div class="col">
                <input class="form-control" type="text" formControlName="interests">
            </div>
        </div>

        <div class="form-group mt-3 row">
            <label class="col-2 col-form-label">Curriculum</label>
            <div class="col">
                <input class="form-control" type="text" formControlName="curriculum">
            </div>
        </div>

        <div class="form-group mt-3 row" formGroupName="address">
            <label class="col-2 col-form-label">Direccion</label>
            <div class="form-row col">
                <div class="col">
                    <input type="text" class="form-control mt-2" placeholder="Nacionalidad" formControlName="nationality">
                </div>
                <div class="col">
                    <input type="text" class="form-control mt-2" placeholder="Pais" formControlName="country">
                </div>
                <div class="col">
                    <input type="text" class="form-control mt-2" placeholder="Departamento" formControlName="department">
                </div>
                <div class="col">
                    <input type="text" class="form-control mt-2" placeholder="Ciudad" formControlName="city">
                </div>
                <div class="col">
                    <input type="text" class="form-control mt-2" placeholder="Codigo Postal" formControlName="postalCode">
                </div>
            </div>
        </div>

        <div class="form-group row mt-5">
            <label class="col-2 col-form-label">Lenguajes</label>
            <div class="col">
                <select class="col-12" #select formControlName="selected">
                    <option *ngFor="let language of languages">{{language}}</option>
                </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="addItem(select.value)">
                    Agregar Lenguaje
                </button>
            </div>
        </div>
        <ul class="list-group col-5 ">
            <li *ngFor="let item of selectedLanguages;" class="list-group-item disabled">
                <div class="row">
                    <span class="col-10">{{item}}</span>
                    <!-- <span class="col-2" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span> -->
                </div>
            </li>
        </ul>


        <div class="form-group row mt-5">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col">
                <button type="submit" class="btn btn-outline-primary btn-block">
            Guardar
        </button>
            </div>
        </div>

    </form>
</div>